<div class="header-bottom stricky slideIn animated">
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" id="Primary">
          <li class="home-page">
            <%= link_to root_path, class: "a-home" do %>
              <i class="fa fa-home icon-home" aria-hidden="true""></i>
            <% end %>
          </li>
          <li class="menu-items">
            <div class="menu-item" data-toggle="dropdown">
              <%= link_to automotive_parts_path do %>
                <span class="option-menu">SHOP</span>
                <span class="caret"></span>
              <% end %>
            </div>
            <ul class="sub-menu dropdown-menu" role="menu">
              <% @title_automotive.each do |title| %>
                <li class="sub-menu-item">
                  <%= link_to("#{title}", titles_path(:title => "#{title}")) %>
                </li>
              <% end %>
            </ul>
          </li>
          <li class="menu-items">
            <div class="menu-item" data-toggle="dropdown">
              <%= link_to service_packs_path do %>
                <span class="option-menu">SERVICE PACK</span>
                <span class="caret"></span>
              <% end %>
            </div>
            <ul class="sub-menu dropdown-menu" role="menu">
              <% @title_service.each do |title| %>
                <li class="sub-menu-item">
                  <%= link_to("#{title}", titles_path(:title => "#{title}")) %>
                </li>
              <% end %>
            </ul>
          </li>
          <li class="menu-items">
            <div class="menu-item">
              <%= link_to new_register_advisory_path do %>
                <span class="option-menu">ADVISORY</span>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
